# Copyright 2018 Kaggle Inc
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
swagger: "2.0"
info:
  description: API for kaggle.com
  version: "1"
  title: Kaggle API
  termsOfService: https://www.kaggle.com/terms
  contact:
    name: Contact Kaggle
    url: https://www.kaggle.com/contact
host: www.kaggle.com
basePath: /api/v1
schemes:
   - https
securityDefinitions:
  basicAuth:
    type: basic
security:
  - basicAuth: []
externalDocs:
  description: Further Kaggle documentation
  url: https://www.kaggle.com
tags:
  - name: kaggle
definitions:
  Result:
    type: object
  Error:
    type: object
    properties:
      code:
        type: integer
        example: 404
      message:
        type: string
        example: NotFound
  DatasetColumn:
    type: object
    properties:
      order:
        type: number
      name:
        type: string
      type:
        type: string
        default: unknown
        enum:
        - string
        - boolean
        - numeric
        - datetime
        - unknown
      originalType:
        type: string
      description:
        type: string
  DatasetUploadFile:
    type: object
    properties:
      token:
        type: string
      description:
        type: string
      columns:
        type: array
        items:
          $ref: '#/definitions/DatasetColumn'
  DatasetNewVersionRequest:
    type: object
    required:
    - versionNotes
    - files
    properties:
      versionNotes:
        type: string
      subtitle:
        type: string
      description:
        type: string
      files:
        type: array
        items:
          $ref: '#/definitions/DatasetUploadFile'
      convertToCsv:
        type: boolean
        default: true
      categoryIds:
        type: array
        items:
          type: string
      deleteOldVersions:
        type: boolean
        default: false
  DatasetNewRequest:
    type: object
    required:
    - title
    - licenseShortName
    - files
    properties:
      title:
        type: string
      slug:
        type: string
      ownerSlug:
        type: string
      licenseName:
        type: string
        default: unknown
        enum:
        - CC0-1.0
        - CC-BY-SA-4.0
        - GPL-2.0
        - ODbL-1.0
        - CC-BY-NC-SA-4.0
        - unknown
        - DbCL-1.0
        - CC-BY-SA-3.0
        - copyright-authors
        - other
        - reddit-api
        - world-bank
      subtitle:
        type: string
      description:
        type: string
        default: ''
      files:
        type: array
        items:
          $ref: '#/definitions/DatasetUploadFile'
      isPrivate:
        type: boolean
        default: true
      convertToCsv:
        type: boolean
        default: true
      categoryIds:
        type: array
        items:
          type: string
  KernelPushRequest:
    type: object
    required:
    - slug
    - text
    - language
    - kernelType
    properties:
      slug:
        type: string
      newTitle:
        type: string
      text:
        type: string
      language:
        type: string
        enum:
        - python
        - r
        - rmarkdown
      kernelType:
        type: string
        enum:
        - script
        - notebook
      isPrivate:
        type: boolean
      enableGpu:
        type: boolean
      enableInternet:
        type: boolean
      datasetDataSources:
        type: array
        items:
          type: string
      competitionDataSources:
        type: array
        items:
          type: string
      kernelDataSources:
        type: array
        items:
          type: string
      categoryIds:
        type: array
        items:
          type: string
parameters:
  guidParam:
    in: path
    name: guid
    required: true
    type: string
    minimum: 0
    description: guid specifies location where submission should be uploaded
paths:
  /competitions/list:
    get:
      tags:
      - kaggle
      summary: List competitions
      operationId: CompetitionsList
      produces:
        - application/json
      parameters:
        - in: query
          name: page
          required: false
          type: integer
          default: 1
          description: Page number
        - in: query
          name: search
          required: false
          type: string
          default: ''
          description: Search terms
      responses:
        200:
          description: Result
          schema:
            $ref: '#/definitions/Result'
        default: 
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /competitions/submissions/list/{id}:
    get:
      tags:
      - kaggle
      summary: List competition submissions
      operationId: CompetitionsSubmissionsList
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          required: true
          type: string
          description: Competition name
        - in: query
          name: page
          required: false
          type: integer
          default: 1
          description: Page number
      responses:
        200:
          description: Result
          schema:
            $ref: '#/definitions/Result'
        default: 
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /competitions/submissions/url/{contentLength}/{lastModifiedDateUtc}:
    post:
      tags:
        - kaggle
      summary: Generate competition submission URL
      operationId: CompetitionsSubmissionsUrl
      produces:
        - application/json
      consumes:
        - multipart/form-data
      parameters:
        - in: formData
          name: fileName
          required: false
          type: string
          description: Competition submission file name    
        - in: path
          name: contentLength
          required: true
          type: integer
          description: Content length of file in bytes
        - in: path
          name: lastModifiedDateUtc
          required: true
          type: integer
          description: Last modified date of file in milliseconds since epoch in UTC
      responses:
        200:
          description: Result
          schema:
            $ref: '#/definitions/Result'
        default: 
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /competitions/submissions/upload/{guid}/{contentLength}/{lastModifiedDateUtc}:
    post:
      tags:
        - kaggle
      summary: Upload competition submission file
      operationId: CompetitionsSubmissionsUpload
      produces:
        - application/json
      consumes:
        - multipart/form-data
      parameters:
        - in: formData
          name: file
          required: true
          type: file
          description: Competition submission file
        - in: path
          name: guid
          required: true
          type: string
          description: Location where submission should be uploaded
        - in: path
          name: contentLength
          required: true
          type: integer
          description: Content length of file in bytes
        - in: path
          name: lastModifiedDateUtc
          required: true
          type: integer
          description: Last modified date of file in milliseconds since epoch in UTC
      responses:
        200:
          description: Result
          schema:
            $ref: '#/definitions/Result'
        default: 
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /competitions/submissions/submit/{id}:
    post:
      tags:
      - kaggle
      summary: Submit to competition
      operationId: CompetitionsSubmissionsSubmit
      produces:
        - application/json
      consumes:
        - multipart/form-data
      parameters:
        - in: formData
          name: blobFileTokens
          required: true
          type: string
          description: Token identifying location of uploaded submission file
        - in: formData
          name: submissionDescription
          required: true
          type: string
          description: Description of competition submission
        - in: path
          name: id
          required: true
          type: string
          description: Competition name
      responses:
        200:
          description: Result
          schema:
            $ref: '#/definitions/Result'
        default: 
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /competitions/data/list/{id}:
    get:
      tags:
      - kaggle
      summary: List competition data files
      operationId: CompetitionsDataListFiles
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          required: true
          type: string
          description: Competition name
      responses:
        200:
          description: Result
          schema:
            $ref: '#/definitions/Result'
        default: 
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /competitions/data/download/{id}/{fileName}:
    get:
      tags:
      - kaggle
      summary: Download competition data file
      operationId: CompetitionsDataDownloadFile
      parameters:
        - in: path
          name: id
          required: true
          type: string
          description: Competition name
        - in: path
          name: fileName
          required: true
          type: string
          description: Competition name
      responses:
        200:
          description: Result
          schema:
            $ref: '#/definitions/Result'
        default: 
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /competitions/{id}/leaderboard/download:
    get:
      tags:
      - kaggle
      summary: Download competition leaderboard
      operationId: CompetitionDownloadLeaderboard
      parameters:
        - in: path
          name: id
          required: true
          type: string
          description: Competition name
      responses:
        200:
          description: Result
          schema:
            $ref: '#/definitions/Result'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /competitions/{id}/leaderboard/view:
    get:
      tags:
      - kaggle
      summary: VIew competition leaderboard
      operationId: CompetitionViewLeaderboard
      parameters:
        - in: path
          name: id
          required: true
          type: string
          description: Competition name
      responses:
        200:
          description: Result
          schema:
            $ref: '#/definitions/Result'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /datasets/list:
    get:
      tags:
      - kaggle
      summary: List datasets
      operationId: DatasetsList
      produces:
        - application/json
      parameters:
        - in: query
          name: page
          required: false
          type: integer
          default: 1
          description: Page number
        - in: query
          name: search
          required: false
          default: ''
          type: string
          description: Search terms
      responses:
        200:
          description: Result
          schema:
            $ref: '#/definitions/Result'
        default: 
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /datasets/list/{ownerSlug}/{datasetSlug}:
    get:
      tags:
      - kaggle
      summary: List dataset files
      operationId: DatasetsListFiles
      produces:
        - application/json
      parameters:
        - in: path
          name: ownerSlug
          required: true
          type: string
          description: Dataset owner
        - in: path
          name: datasetSlug
          required: true
          type: string
          description: Dataset name
      responses:
        200:
          description: Result
          schema:
            $ref: '#/definitions/Result'
        default: 
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /datasets/view/{ownerSlug}/{datasetSlug}:
    get:
      tags:
      - kaggle
      summary: Show details about a dataset
      operationId: DatasetsView
      produces:
        - application/json
      parameters:
        - in: path
          name: ownerSlug
          required: true
          type: string
          description: Dataset owner
        - in: path
          name: datasetSlug
          required: true
          type: string
          description: Dataset name
      responses:
        200:
          description: Result
          schema:
            $ref: '#/definitions/Result'
        default: 
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /datasets/download/{ownerSlug}/{datasetSlug}/{fileName}:
    get:
      tags:
      - kaggle
      summary: Download dataset file
      operationId: DatasetsDownloadFile
      produces:
        - file
      parameters:
        - in: path
          name: ownerSlug
          required: true
          type: string
          description: Dataset owner
        - in: path
          name: datasetSlug
          required: true
          type: string
          description: Dataset name
        - in: path
          name: fileName
          required: true
          type: string
          description: File name
        - in: query
          name: datasetVersionNumber
          required: false
          type: string
          description: Dataset version number
      responses:
        200:
          description: Result
          schema:
            $ref: '#/definitions/Result'
        default: 
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /datasets/upload/file/{contentLength}/{lastModifiedDateUtc}:
    post:
      tags:
      - kaggle
      summary: Get URL and token to start uploading a data file
      operationId: DatasetsUploadFile
      produces:
        - application/json
      consumes:
        - multipart/form-data
      parameters:
        - in: formData
          name: fileName
          required: true
          type: string
          description: Dataset file name
        - in: path
          name: contentLength
          required: true
          type: integer
          description: Content length of file in bytes
        - in: path
          name: lastModifiedDateUtc
          required: true
          type: integer
          description: Last modified date of file in milliseconds since epoch in UTC
      responses:
        200:
          description: Result
          schema:
            $ref: '#/definitions/Result'
        default: 
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /datasets/create/version/{ownerSlug}/{datasetSlug}:
    post:
      tags:
      - kaggle
      summary: Create a new dataset version
      operationId: DatasetsCreateVersion
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: ownerSlug
          required: true
          type: string
          description: Dataset owner
        - in: path
          name: datasetSlug
          required: true
          type: string
          description: Dataset name
        - in: body
          name: datasetNewVersionRequest
          required: true
          schema:
            $ref: '#/definitions/DatasetNewVersionRequest'
          description: Information for creating a new dataset version
      responses:
        200:
          description: Result
          schema:
            $ref: '#/definitions/Result'
        default: 
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /datasets/create/new:
    post:
      tags:
      - kaggle
      summary: Create a new dataset 
      operationId: DatasetsCreateNew
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: body
          name: datasetNewRequest
          required: true
          schema:
            $ref: '#/definitions/DatasetNewRequest'
          description: Information for creating a new dataset
      responses:
        200:
          description: Result
          schema:
            $ref: '#/definitions/Result'
        default: 
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /kernels/list:
    get:
      tags:
      - kaggle
      summary: List kernels
      operationId: KernelsList
      produces:
        - application/json
      parameters:
        - in: query
          name: page
          type: integer
          default: 1
          description: Page number
        - in: query
          name: pageSize
          type: integer
          default: 20
          description: Page size
        - in: query
          name: search
          default: ''
          type: string
          description: Search terms
        - in: query
          name: group
          type: string
          enum: [everyone, profile, upvoted]
          default: everyone
          description: Display only your kernels
        - in: query
          name: user
          type: string
          description: Display kernels by a specific user
        - in: query
          name: language
          type: string
          enum: [all, python, r, sqlite, julia]
          default: all
          description: Display kernels in a specific language
        - in: query
          name: kernelType
          type: string
          enum: [all, script, notebook]
          default: all
          description: Display kernels of a specific type
        - in: query
          name: outputType
          type: string
          enum: [all, visualization, data]
          default: all
          description: Display kernels with a specific output type
        - in: query
          name: sortBy
          type: string
          enum: [hotness, commentCount, dateCreated, dateRun, scoreAscending, scoreDescending, viewCount, voteCount, relevance]
          default: hotness
          description: Sort the results. 'relevance' only works if there is a search query
        - in: query
          name: dataset
          type: string
          description: Display kernels using the specified dataset
        - in: query
          name: competition
          type: string
          description: Display kernels using the specified competition
        - in: query
          name: parentKernel
          type: string
          description: Display kernels that have forked the specified kernel
      responses:
        200:
          description: Result
          schema:
            $ref: '#/definitions/Result'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /kernels/push:
    post:
      tags:
        - kaggle
      summary: Push a new kernel version.  Can be used to create a new kernel and update an existing one.
      operationId: KernelPush
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: body
          name: kernelPushRequest
          required: true
          schema:
            $ref: '#/definitions/KernelPushRequest'
          description: Information for pushing a new kernel version
      responses:
        200:
          description: Result
          schema:
            $ref: '#/definitions/Result'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /kernels/pull:
    get:
      tags:
        - kaggle
      summary: Pull the latest code from a kernel
      operationId: KernelPull
      produces:
        - application/json
      parameters:
        - in: query
          name: userName
          required: true
          type: string
          description: Kernel owner
        - in: query
          name: kernelSlug
          required: true
          type: string
          description: Kernel name
      responses:
        200:
          description: Result
          schema:
            $ref: '#/definitions/Result'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /kernels/output:
    get:
      tags:
        - kaggle
      summary: Download the latest output from a kernel
      operationId: KernelOutput
      produces:
        - application/json
      parameters:
        - in: query
          name: userName
          required: true
          type: string
          description: Kernel owner
        - in: query
          name: kernelSlug
          required: true
          type: string
          description: Kernel name
      responses:
        200:
          description: Result
          schema:
            $ref: '#/definitions/Result'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /kernels/status:
    get:
      tags:
        - kaggle
      summary: Get the status of the latest kernel version
      operationId: KernelStatus
      produces:
        - application/json
      parameters:
        - in: query
          name: userName
          required: true
          type: string
          description: Kernel owner
        - in: query
          name: kernelSlug
          required: true
          type: string
          description: Kernel name
      responses:
        200:
          description: Result
          schema:
            $ref: '#/definitions/Result'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'

